@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(12, 11, 9, 0.6);
  color: #fff;
  padding: 10px 150px;
}
nav .logo h1 {
  text-transform: uppercase;
  color: #fff;
}
nav .logo h1 span {
  color: #fff;
  font-size: 25px;
  text-transform: lowercase;
  font-family: "Dancing Script", cursive;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  padding: 15px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.4s ease;
}
nav ul li a:hover {
  color: #cda45e;
}
nav .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .social a {
  background: transparent;
  border: 2px solid #cda45e;
  height: 30px;
  width: 30px;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}
nav .social a:hover i {
  color: #292929;
}
nav .social a:hover {
  background: #cda45e;
}
nav .social a i {
  font-size: 18px;
  color: #cda45e;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.banner h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px solid #cda45e;
  padding: 20px;
  font-size: 30px;
  margin-top: -50px;
}
.banner h2 span {
  color: #cda45e;
  font-size: 35px;
}
.banner h3 {
  color: #fff;
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  font-size: 35px;
  padding: 20px;
}
.special {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.special h1 {
  background-color: #cda45e;
  color: #292929;
  padding: 10px;
  font-size: 12px;
  word-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  left: 700px;
  top: 420px;
}

.special .special-box {
  height: 220px;
  width: 160px;
  background: rgba(12, 11, 9, 0.6);
  margin-top: -150px;
  border: 2px solid #cda45e;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.special-box img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #cda45e;
}
.special-box h2 {
  color: #cda45e;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  text-transform: capitalize;
}
.special-box h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  padding: 5px;
}

/* -----contact------ */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 20px;
}

.panel {
  height: 450px;
  width: 500px;

  padding: 10px;
}
.panel h3 {
  color: #cda45e;
  text-transform: uppercase;
  padding: 3px;
}
.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box {
  height: 200px;
  width: 200px;
  border: 2px solid #cda45e;
  background-color: rgba(12, 11, 9, 0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #cda45e;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}
.box i {
  font-size: 25px;
  padding: 10px;
  color: #fff;
}
.box-1 h3 {
  font-size: 16px;
  text-transform: uppercase;
}
.box-1 h2 {
  font-size: 14px;
  padding: 5px;
}
.box-2 i {
  font-size: 40px;
}
.box-2 h3 {
  font-size: 15px;
}
.box h3 {
  font-size: 15px;
  padding-top: 10px;
}
.box:hover {
  transform: scale(0.9);
}
.contact {
  background-color: rgba(12, 11, 9, 0.6);
  padding: 10px;
  border: 2px solid #cda45e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
  width: 420px;
}
.contact h1 {
  color: #cda45e;
}

.form-group {
  padding: 10px;
}
input {
  height: 30px;
  width: 300px;
  padding: 5px;
  font-size: 14px;
  background: #cda45e;
  border: none;
  color: #fff;
  outline: none;
}
textarea {
  background: #cda45e;
  border: none;
  resize: none;
  color: #fff;
  padding: 10px;
  outline: none;
}
.btn-send {
  padding: 8px 30px;
  background-color: transparent;
  border: 2px solid #cda45e;
  outline: none;
  color: #cda45e;
  cursor: pointer;
  transition: 0.4s ease;
  font-size: 16px;
}
.btn-send:hover {
  background-color: #cda45e;
  color: #292929;
}
.footer {
  height: 50px;
  background-color: black;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #cda45e;
  height: 70px;
  text-align: center;
  color: #fff;
  position: absolute;
}
.footer h4 {
  padding: 10px;
  font-size: 13px;
  font-weight: 400;
}
.footer h5 {
  padding: 10px;
  font-size: 13px;
  font-weight: 400;
}
.footer i {
  padding: 0 3px;
}
.footer .ncolor {
  color: #cda45e;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}
button.back.button {
  display: none;
}
@media (max-width: 799px) {
  #mayur1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: black;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }
  #mayur1.active {
    right: 0px;
  }

  #mayur1 li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: white;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 24px;
  }
  a {
    text-decoration: none;
  }
  button.back.button {
    display: block;
  }
  button.back.button {
    width: 100px;
    height: 30px;
    color: #cda45e;
    background-color: #292929;
  }
  .special h1 {
    left: 320px;
    top: 600px;
  }
  .container {
    flex-wrap: wrap;
  }
  .contact {
    margin-bottom: 40px;
  }
}
@media (max-width: 477px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(12, 11, 9, 0.6);
    color: #fff;
    padding: 10px 10px;
  }
  .banner h2 {
    width: 90%;
  }
  .special h1 {
    left: 140px;
    top: 500px;
  }
  .special-box h2 {
    font-size: 10px;
  }
  .special-box h3 {
    font-size: 12px;
  }
  .box {
    height: 170px;
    width: 170px;
  }
  .box h3 {
    font-size: 12px;
  }
  .contact {
    height: 230px;
    width: 350px;
  }
  input {
    height: 25px;
    width: 300px;
  }
  .form-group {
    padding: 5px;
  }
  .contact h1 {
    margin-bottom: 8px;
    font-size: 20px;
  }
  .btn-send {
    padding: 2px 10px;

    font-size: 12px;
  }
}
